<%- include('partials/header', { title: 'ATCC - Events - 01' }) %>

<%- include('partials/navbar', { page: 'events' }) %>

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Event - 01</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="/events">Events</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Meet and Greet</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5 pe-5" src="" alt="" style="object-fit: cover;">
                    <!-- <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="/img/about-2.jpg" alt="" style="width: 200px; height: 200px;"> -->
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Meet and Greet</div>
                    <h1 class="display-6 mb-5">Hey Tamil Nadu Makkal in Canada! </h1>
                    <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                        <p class="text-dark mb-2">
                            We've got some seriously exciting news for you. Save the date, <b>June 3, 2023,</b> 
                            because we're throwing the most fun networking party ever! Get ready for an epic day of networking, chatting, fun games, and non-stop action, including networking sessions, awesome games, open mic and pure relaxation at a local park.
                        </br></br>
                            This event is all about connecting, chilling, and having a blast with your fellow Tamil immigrants. It doesn't matter if you're a newbie or a seasoned pro in Canada, there's something for everyone. 
                            Let's make new friends, catch up with old buddies, and have a fantastic time with our extended Tamil Nadu family. </br></br>
                            Stay tuned for the official announcement with all the juicy details—location, timings, and a full schedule of what's in store. Trust us, you won't want to miss out on this epic event! 
                            Hey, listen up, folks! This event isn't just about sitting back and watching; it's about getting in the game, having a chat, and mingling with each other. We've set the stage for real conversations where you can share your stories, experiences, and laughter. </br></br>
                            Leave your shyness at home, bring your energy, and let's break the ice together. This is your chance to connect, make new friends, and be an active part of creating an unforgettable experience. 
                            Let's step out of our comfort zones, mix it up, and make some serious magic happen! See you there, ready to rock!
                        </p>
                    </div>
                    <a class="btn btn-outline-primary py-2 px-3" href="">
                        Register for an event
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>